<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="loginForm">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
                <input placeholder="Email" matInput type="email" formControlName="email" class="form-control" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" formControlName="password" required>
          <label class="error">{{errorMessage}}</label>
        </mat-form-field></td>
      </tr></table>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="tryLogin(loginForm.value)" color="primary">Login</button>
    <button mat-raised-button (click)="tryGoogleLogin()" color="secondary">Login with Google</button>
  </mat-card-actions>
</mat-card>
